body{
    font-family: Arial;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input{
padding: 10px;
cursor: 10px;
background-color: white;
}

 button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #305de4;
 }